<?xml version='1.0'?> 
<!-- Revolute-Revolute Manipulator -->
<robot name="security_rover">

  <!-- Define colors to use -->
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="orange">
    <color rgba="1.0 0.4 0.04 1.0"/>
  </material>

  <!-- Define ROS controller plugin -->
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/security_rover</robotNamespace>
    </plugin>
  </gazebo>

  <link name="base_link"/>

  <joint name="dummy_joint" type="fixed">
    <parent link="base_link"/>
    <child link="dummy"/>
    <origin xyz="0 0 0"/>
  </joint>

  <!-- Link used to define the rover body -->
  <link name="dummy">
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://security_rover/meshes/rover_sphere_new.dae"/>
        </geometry>
        <material name="orange"/>
    </visual>
    <collision>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <mesh filename="package://security_rover/meshes/rover_sphere_new.dae"/>
        </geometry>
    </collision>
    <inertial>
     <!-- <origin xyz="-0.15 0 0" rpy="0 0 0"/>-->
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="3.27"/>
      <inertia ixx="0.06"  ixy="0"  ixz="0" iyy="0.09" iyz="0" izz="0.15" />
    </inertial>
  </link>
  <!-- Color Properties for rover -->
  <gazebo reference="dummy">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Joint used to attach left front wheel to rover -->
  <joint name="left_front_wheel_joint" type="continuous">
    <parent link="dummy"/>
    <child link="left_front_wheel"/>
    <origin xyz="0.2025 0.276 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="50" velocity="5"/>
  </joint>

  <!-- Link used to define left front wheel-->
  <link name="left_front_wheel">
    <visual>
      <origin rpy="0 1.5707 1.5707"/>
      <geometry>
        <cylinder radius="0.09875" length="0.090"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0 1.5707 1.5707"/>
      <geometry>
        <cylinder radius="0.09875" length="0.090"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 1.5707 1.5707"/>
      <mass value="0.225"/>
      <inertia ixx="0.00124893"  ixy="0"  ixz="0" iyy="0.00124893" iyz="0" izz="0.00109705" />
    </inertial>
  </link>

  <!-- Color Properties for left front wheel -->
  <gazebo reference="left_front_wheel">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Joint used to attach right front wheel to rover -->
  <joint name="right_front_wheel_joint" type="continuous">
    <parent link="dummy"/>
    <child link="right_front_wheel"/>
    <origin xyz="0.2025 -0.276 0"/>
    <axis xyz="0 1 0"/>
    <limit effort="50" velocity="5"/>

  </joint>

  <!-- Link used to define right front wheel-->
  <link name="right_front_wheel">
    <visual>
      <origin rpy="0 1.5707 1.5707"/>
      <geometry>
        <cylinder radius="0.09875" length="0.090"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin rpy="0 1.5707 1.5707"/>
      <geometry>
        <cylinder radius="0.09875" length="0.090"/>
      </geometry>
    </collision>
    <inertial>
      <origin rpy="0 1.5707 1.5707"/>
      <mass value="0.225"/>
      <inertia ixx="0.00124893"  ixy="0"  ixz="0" iyy="0.00124893" iyz="0" izz="0.00109705" />
    </inertial>
  </link>

  <!-- Color Properties for right front wheel -->
  <gazebo reference="right_front_wheel">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Joint used to attach caster -->
  <joint name="caster_joint" type="continuous">
    <parent link="dummy"/>
    <child link="caster"/>
    <!--<origin xyz="-0.15 0 0"/>-->
    <origin xyz="0 0 0"/>
    <axis xyz="0 1 0"/>
  </joint>

  <!-- Link used to define caster -->
  <link name="caster">
    <visual>
      <geometry>
        <sphere radius="0.09875"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <geometry>
        <sphere radius="0.09875"/>
      </geometry>
    </collision> 
  <inertial>
      <mass value="0.225"/>
      <inertia ixx="0.000878"  ixy="0"  ixz="0" iyy="0.000878" iyz="0" izz="0.000878" />
    </inertial> 
  </link>

  <!-- Color Properties for right front wheel -->
  <gazebo reference="caster">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Create joint to attach gimbal base to rover -->
  <joint name="gimbal_to_rover" type="fixed">
    <parent link="dummy"/>
    <child link="pan_motor_stator"/>
    <origin xyz="-0.15 0 0.055"/>
    <!--<origin xyz="0.08095 0 0.055"/>-->
  </joint>

  <!-- Link used to define the stator portion of the pan-axis motor -->
  <link name='pan_motor_stator'>
    <visual>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <geometry>
          <cylinder radius="0.03335" length="0.010"/>
        </geometry>
        <material name="orange"/>
    </visual>
    <inertial>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <mass value="0.12398"/>
        <inertia ixx="0.00003572290"  ixy="0"  ixz="0" iyy="0.00003572290" iyz="0" izz="0.00006894558" />
    </inertial>

  </link>

  <!-- Color Properties for Pan Motor Stator -->
  <gazebo reference="pan_motor_stator">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Joint used to allow rotational motion about the z-axis of the pan-axis rotor about the z-axis of the pan-axis stator -->
  <joint name="pan_stator_to_rotor" type="revolute">
    <parent link="pan_motor_stator"/>
    <child link="pan_motor_rotor"/>
    <axis xyz="0 0 1"/>
    <limit lower="-1.5707" upper="1.5707" effort="30.0" velocity="200"/>
    <origin xyz="0 0 0.006"/>
  </joint>

  <!-- Link used to define the rotor portion of the pan-axis motor -->
  <link name="pan_motor_rotor">
    <inertial>
        <origin xyz="0 0 0.017" rpy="0 0 0"/>
        <mass value="0.3553"/>
        <inertia ixx="0.00014021408" ixy="0.00" ixz="0.00" iyy="0.00014021408" iyz="0.00" izz="0.00002197426" />
    </inertial>
    <visual>
        <origin xyz="0 0 0.017" rpy="0 0 0"/>
        <geometry>
            <cylinder radius="0.03335" length="0.034"/>
        </geometry>
        <material name="black"/>
    </visual>
  </link>

  <!-- Color Properties for pan motor rotor -->
  <gazebo reference="pan_motor_rotor">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Joint used to fix the rotor portion of the pan-axis motor to the arm link -->
  <joint name="arm_to_pan" type="fixed">
    <parent link="pan_motor_rotor"/>
    <child link="arm"/>
    <origin xyz="0 0 0.034"/>
  </joint>

  <!-- Link used to define of the arm that joins the tilt and pan-axis motors -->
  <link name="arm">
    <material name="orange"/>
    <inertial>
      <origin xyz="0 -0.03598 0.06231" rpy="0 0 0"/>
      <mass value=".05239"/>
      <inertia ixx="0.00007617354" ixy="0.00" ixz="0.00" iyy="0.000036508" iyz="-0.00002214887" izz="0.00006684559"/>
    </inertial>
  <!-- Cylindrical portion of the arm that sits on pan-axis motor -->
    <visual>
      <origin xyz="0 0 0.0025" rpy="0 0 0"/>
      <geometry>
        <cylinder radius="0.03335" length="0.005"/>
      </geometry>
    </visual>
    <!-- Boxed portion of the arm that extends from the pan-axis motor -->
    <visual>
      <origin xyz="0 -0.03352 0.0025" rpy="0 0 0"/>
      <geometry>
          <box size="0.045 0.06704 0.005"/>
      </geometry>
    </visual>
  <!-- Boxed portion of the arm that extends from the pan-axis motor out to ballast -->
    <visual>
      <origin xyz="0 0.03352 0.0025" rpy="0 0 0"/>
      <geometry>
          <box size="0.045 0.06704 0.005"/>
      </geometry>
    </visual>
  <!-- Boxed portion of the arm that extends from the tilt-axis motor -->
    <visual>
      <origin xyz="0 -0.06454 0.01977" rpy="0 0 0"/>
      <geometry>
          <box size="0.045 0.005 0.03454"/>
      </geometry>
    </visual>
  <!-- Boxed portion of the arm that extends from the ballast -->
    <visual>
      <origin xyz="0 0.06454 0.01977" rpy="0 0 0"/>
      <geometry>
          <box size="0.045 0.005 0.03454"/>
      </geometry>
    </visual>
  <!-- Cylindrical portion of the arm that connects to base of tilt-axis motor -->
    <visual>
      <origin xyz="0 -0.06454 0.03954" rpy="-1.5707 0 0"/>
      <geometry>
          <cylinder radius="0.03335" length="0.005"/>
      </geometry>
    </visual>
  <!-- Cylindrical portion of the arm that connects to base ballast -->
    <visual>
      <origin xyz="0 0.06454 0.03954" rpy="-1.5707 0 0"/>
      <geometry>
          <cylinder radius="0.03335" length="0.005"/>
      </geometry>
    </visual>
  </link>



  <!-- Joint used to fix the stator portion of the tilt-axis motor to the link arm -->
    <joint name="tilt_stator_to_arm" type="fixed">
      <parent link="arm"/>
      <child link="tilt_motor_stator"/>
      <origin xyz="0 -0.06204 0.03954"/>
    </joint> 

  <!-- Link used to define the stator portion of the tilt-axis motor -->
  <link name='tilt_motor_stator'>
    <inertial>
        <origin xyz="0 0.005 0" rpy="-1.5707 0 0"/>
        <mass value="0.12398"/>
        <inertia ixx="0.00003572290"  ixy="0"  ixz="0" iyy="0.00003572290" iyz="0" izz="0.00006894558" />
    </inertial>
    <visual>
        <origin xyz="0 0.005 0" rpy="-1.5707 0 0"/>
        <geometry>
            <cylinder radius="0.03335" length="0.010"/>
        </geometry>
        <material name="orange"/>
    </visual>
  </link>

  <!-- Color Properties for Tilt Motor Stator -->
  <gazebo reference="tilt_motor_stator">
    <material>Gazebo/Orange</material>
  </gazebo>

  <!-- Joint used to allow rotational motion about the z-axis of the tilt-axis rotor about the z-axis of the tilt-axis stator -->
  <joint name="tilt_stator_to_rotor" type="revolute">
    <axis xyz="0 1 0"/>
    <parent link="tilt_motor_stator"/>
    <child link="tilt_motor_rotor"/>
    <limit lower="-1.5707" upper="1.5707" effort="100.0" velocity="200"/>
    <origin xyz="0 0.011 0"/>
  </joint>

  <!-- Link used to define the rotor portion of the tilt-axis motor -->
  <link name="tilt_motor_rotor">
    <inertial>
      <origin xyz="0 0.017 0" rpy="-1.5707 0 0"/>
      <mass value="0.3553"/>
      <inertia ixx="0.00014021408" ixy="0.00" ixz="0.00" iyy="0.00014021408" iyz="0.00" izz="0.00002197426" />
    </inertial>

    <visual>
        <origin xyz="0 0.017 0" rpy="-1.5707 0 0"/>
        <geometry>
            <cylinder radius="0.03335" length="0.034"/>
        </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- Color Properties for tilt motor rotor -->
  <gazebo reference="tilt_motor_rotor">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Joint used to connect the ballast -->
  <joint name="ballast_joint" type="fixed">
    <parent link="arm"/>
    <child link="ballast"/>
    <origin xyz="0 0.06204 0.03954"/>
  </joint>

  <link name="ballast">
    <inertial>
      <origin xyz="0 -0.0225 0" rpy="1.5707 0 0"/>
      <mass value="0.486"/>
      <inertia ixx="0.00014021408" ixy="0.00" ixz="0.00" iyy="0.00014021408" iyz="0.00" izz="0.00002197426" />
    </inertial>

    <visual>
      <origin xyz="0 -0.0225 0" rpy="1.5707 0 0"/>
      <geometry>
        <cylinder radius="0.03335" length="0.045"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- Color Properties for left front wheel -->
  <gazebo reference="ballast">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Creating the camera joint to attach to tilt motors -->
  <joint name="camera_joint" type="fixed">
    <parent link="tilt_motor_rotor"/>
    <child link="camera_link"/>
    <origin xyz="0 0.034 0"/>
  </joint>

  <!-- Creatin the camera link -->
  <link name="camera_link">
    <visual>
      <origin xyz="0 0.0195 0"/>
      <geometry>
        <box size="0.040 0.039 0.039"/>
      </geometry>
    </visual>
  </link>

      <!-- generate an optical frame http://www.ros.org/reps/rep-0103.html#suffix-frames
        so that ros and opencv can operate on the camera frame correctly -->
  <joint name="camera_optical_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera image
        won't be aligned properly with the frame it is supposedly originating from -->
    <origin xyz="0 0 0" rpy="-1.5707 0 1.5707"/>
    <parent link="camera_link"/>
    <child link="camera_link_optical"/>
  </joint>

  <link name="camera_link_optical">
  </link>


  <!-- camera -->
  <gazebo reference="camera_link">
    <sensor type="camera" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
        <noise>
          <type>gaussian</type>
          <!-- Noise is sampled independently per pixel on each frame.
                That pixel's noise value is added to each of its color
                channels, which at that point lie in the range [0,1]. -->
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>security_rover/camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link_optical</frameName>
        <!-- setting hackBaseline to anything but 0.0 will cause a misalignment
            between the gazebo sensor image and the frame it is supposed to
            be attached to -->
        <hackBaseline>0.0</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0.0</Cx>
        <Cy>0.0</Cy>
        <focalLength>0.0</focalLength>
      </plugin>
    </sensor>
  </gazebo>

  <!-- Creating the joint to attach the laser scanner -->
  <joint name="laser_to_rover_joint" type="fixed">
    <origin xyz="0.15715 0 0.0704"/>
    <parent link="dummy"/>
    <child link="laser"/>
  </joint>

  <!-- Creating the link for the laser -->
  <link name="laser">
    <collision>
      <geometry>
        <cylinder length="0.04080" radius="0.03785"/>
      </geometry>
    </collision>

    <visual>
      <geometry>
        <cylinder length="0.04080" radius="0.03785"/>
      </geometry>
    </visual>

    <inertial>
      <mass value="1.4288" />
      <inertia ixx="0.00071" ixy="0" ixz="0" iyy="0.00071" iyz="0" izz="0.001023" />
    </inertial>
  </link>

  <!-- RpLidar A2 using GPU -->
  <gazebo reference="laser">
    <sensor type="ray" name="head_rplidar_sensor">
      <pose>0.15715 0 0.0704 0 0 0</pose>
      <!--<pose>0 0 0 0 0 0</pose>-->
      <visualize>true</visualize>
      <update_rate>200</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>750</samples>
            <resolution>1</resolution>
            <min_angle>-0.785398</min_angle>
            <max_angle>0.785398</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.5</min>
          <max>8.0</max>
          <resolution>0.01</resolution>
        </range>
        <noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.01</stddev>
        </noise>
      </ray>
      <plugin name="gazebo_ros_head_rplidar_controller" filename="libgazebo_ros_laser.so">     
        <topicName>scan</topicName>
        <frameName>laser</frameName>
      </plugin>
    </sensor>
  </gazebo>

  <!-- Pan-axis motor transmission element -->
  <transmission name="simple_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="pan_stator_to_rotor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="PanBLDC">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Tilt-axis motor transmission element -->
  <transmission name="simple_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="tilt_stator_to_rotor">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="TiltBLDC">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Left Front wheel transmission element -->
  <transmission name="simple_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="left_front_wheel_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="LFWBLDC">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <!-- Right Front wheel transmission element -->
  <transmission name="simple_trans">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="right_front_wheel_joint">
      <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="RFWBLDC">
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>